# Informações Sobre os Dados

# Instalando Bibliotecas Adicionais

In [1]:
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip &> /dev/null

# Importando Bibliotecas

In [2]:
import altair as alt
import numpy as np
import pandas as pd
from ipywidgets import widgets
from pandas_profiling import ProfileReport

# Carregando os Dados

Carregando os dados aglutinados de desmatamento e casos de dengue, para pegar a lista de municípios.

In [3]:
df_aglut = pd.read_csv(
    f'https://raw.githubusercontent.com/george-gca/MO826_IA368_CF044/main/data/processed/dados_conjuntos.csv')

cities = set(df_aglut.Municipio.unique())
print(f'{len(cities)} municípios')

740 municípios

Criando dicionário que associa município ao seu respectivo estado

In [4]:
states = set(df_aglut.Estado.unique())
state_dict = df_aglut[['Municipio', 'Estado']].set_index('Municipio').to_dict()['Estado']

In [5]:
years = list(range(2010, 2020))
print(f'Anos a serem considerados: {years}')

Anos a serem considerados: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [6]:
def load_csv_info(group, years, cities, state_dict):
  dfs = []
  for year in years:
    df = pd.read_csv(
        f'https://raw.githubusercontent.com/george-gca/MO826_IA368_CF044/main/data/external/saneamento/{year}_{group}.csv',
        sep='\t')

    # remove line breaks from columns titles
    columns = [c.replace('\n', ' ') for c in df.columns]
    df.columns = columns

    # remove (Município) (code) from city name, rename Localidade to Municipio
    df.Localidade = df.Localidade.str.split().str[:-2]
    df.Localidade = df.Localidade.str.join(' ')
    df.rename(columns={'Localidade': 'Municipio'}, inplace=True)

    # keep only cities that are in the previous list of cities
    df = df[df.Municipio.isin(cities)]
    
    # fill state information
    # TODO: fix complains about slicing
    df['Estado'] = df.Municipio
    df['Estado'] = df.Estado.replace(state_dict)
    df['Ano'] = year

    # reorder columns to put Municipio, Estado, and Ano at first
    columns = list(df.columns)
    columns = columns[:1] + columns[-2:] + columns[1:-2]
    df = df[columns]

    # remove '%' and '.', replace ',' by '.' for numeric types
    for c in df.columns[3:]:
      if df[c].dtype == object:
        df[c] = df[c].str.replace('%', '')
        df[c] = df[c].str.replace('.', '')
        df[c] = df[c].str.replace(',', '.')

    dfs.append(df)

  return pd.concat(dfs, ignore_index=True)

In [7]:
df_01 = load_csv_info('01', years, cities, state_dict)
df_01

                      Municipio  ... Parcela da população total que mora em domicílios sem acesso ao serviço de coleta de esgoto (% da população) (SNIS)
0                     Ariquemes  ...                                              100.0
1                        Cacoal  ...                                               54.2
2                          Jaru  ...                                              100.0
3                     Ji-Paraná  ...                                              100.0
4                   Porto Velho  ...                                               98.5
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                                  -
1266                      Sinop  ...                                               70.4
1267                    Sorriso  ...                                               66.8
1268           Tangará da Serra  ...                                               71.5
1269              Várzea Grande  ...                                               69.9

[1270 rows x 11 columns]

In [8]:
df_02 = load_csv_info('02', years, cities, state_dict)
df_02

                      Municipio  ... Internações por doenças associadas à falta de saneamento (Número de internações) (DATASUS)
0                     Ariquemes  ...                                            264.000
1                        Cacoal  ...                                            407.000
2                          Jaru  ...                                            204.000
3                     Ji-Paraná  ...                                              1.025
4                   Porto Velho  ...                                              1.026
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                              2.000
1266                      Sinop  ...                                             33.000
1267                    Sorriso  ...                                             31.000
1268           Tangará da Serra  ...                                            151.000
1269              Várzea Grande  ...                                            113.000

[1270 rows x 11 columns]

In [9]:
df_03 = load_csv_info('03', years, cities, state_dict)
df_03

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                      Municipio  ... Incidência de internações por doenças respiratórias: gripes e pneumonias (Internações por 10 mil habitantes) (DATASUS)
0                     Ariquemes  ...                                              43.94
1                        Cacoal  ...                                              57.27
2                          Jaru  ...                                              31.15
3                     Ji-Paraná  ...                                              65.69
4                   Porto Velho  ...                                              22.85
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                              12.63
1266                      Sinop  ...                                               7.13
1267                    Sorriso  ...                                              16.28
1268           Tangará da Serra  ...                                              42.02
1269              Várzea Grande  ...                                              23.48

[1270 rows x 11 columns]

In [10]:
df_04 = load_csv_info('04', years, cities, state_dict)
df_04

                      Municipio  ... Investimentos per capita em saneamento (R$ a preços de 2019) (ITB)
0                     Ariquemes  ...                                               3.44
1                        Cacoal  ...                                              12.28
2                          Jaru  ...                                               5.50
3                     Ji-Paraná  ...                                               4.37
4                   Porto Velho  ...                                               4.26
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                               0.00
1266                      Sinop  ...                                              53.43
1267                    Sorriso  ...                                             118.70
1268           Tangará da Serra  ...                                              11.95
1269              Várzea Grande  ...                                               0.00

[1270 rows x 10 columns]

In [11]:
df_05 = load_csv_info('05', years, cities, state_dict)
df_05

                      Municipio  ... Densidade demográfica (pessoas por km²) (Pessoas por km²) (IBGE)
0                     Ariquemes  ...                                              20.41
1                        Cacoal  ...                                              20.72
2                          Jaru  ...                                              17.66
3                     Ji-Paraná  ...                                              16.91
4                   Porto Velho  ...                                              12.57
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                               1.42
1266                      Sinop  ...                                              36.27
1267                    Sorriso  ...                                               9.66
1268           Tangará da Serra  ...                                               8.94
1269              Várzea Grande  ...                                             271.86

[1270 rows x 11 columns]

# Convertendo os Tipos de Dados

In [12]:
def convert_dtypes(df):
  df.replace({'-': np.NaN}, inplace=True)
  for c in df.columns[3:]:
    # if c.startswith('Área') or c.startswith('Parcela'):
    if df[c].dtype == object:
      df[c] = df[c].astype(float)
    # else:
      # df[c] = df[c].astype(int)
  return df

In [13]:
df_01 = convert_dtypes(df_01)
df_02 = convert_dtypes(df_02)
df_03 = convert_dtypes(df_03)
df_04 = convert_dtypes(df_04)
df_05 = convert_dtypes(df_05)

In [14]:
print('Dados 01')
for state in states:
  df_tmp = df_01[df_01.Estado == state.upper()]
  print(f'Total de Municípios em {state.upper()}: {len(df_tmp)}')
  print(f'Total de Municípios Completos em {state.upper()}: {len(df_tmp.dropna())}\n')

Dados 01
Total de Municípios em AM: 150
Total de Municípios Completos em AM: 82

Total de Municípios em MA: 230
Total de Municípios Completos em MA: 196

Total de Municípios em AP: 20
Total de Municípios Completos em AP: 20

Total de Municípios em TO: 90
Total de Municípios Completos em TO: 90

Total de Municípios em RR: 20
Total de Municípios Completos em RR: 20

Total de Municípios em AC: 20
Total de Municípios Completos em AC: 19

Total de Municípios em PA: 460
Total de Municípios Completos em PA: 379

Total de Municípios em MT: 200
Total de Municípios Completos em MT: 150

Total de Municípios em RO: 80
Total de Municípios Completos em RO: 76

In [15]:
print('Dados 02')
for state in states:
  df_tmp = df_02[df_02.Estado == state.upper()]
  print(f'Total de Municípios em {state.upper()}: {len(df_tmp)}')
  print(f'Total de Municípios Completos em {state.upper()}: {len(df_tmp.dropna())}\n')

Dados 02
Total de Municípios em AM: 150
Total de Municípios Completos em AM: 150

Total de Municípios em MA: 230
Total de Municípios Completos em MA: 230

Total de Municípios em AP: 20
Total de Municípios Completos em AP: 20

Total de Municípios em TO: 90
Total de Municípios Completos em TO: 90

Total de Municípios em RR: 20
Total de Municípios Completos em RR: 20

Total de Municípios em AC: 20
Total de Municípios Completos em AC: 20

Total de Municípios em PA: 460
Total de Municípios Completos em PA: 460

Total de Municípios em MT: 200
Total de Municípios Completos em MT: 200

Total de Municípios em RO: 80
Total de Municípios Completos em RO: 80

In [16]:
print('Dados 03')
for state in states:
  df_tmp = df_03[df_03.Estado == state.upper()]
  print(f'Total de Municípios em {state.upper()}: {len(df_tmp)}')
  print(f'Total de Municípios Completos em {state.upper()}: {len(df_tmp.dropna())}\n')

Dados 03
Total de Municípios em AM: 150
Total de Municípios Completos em AM: 150

Total de Municípios em MA: 230
Total de Municípios Completos em MA: 230

Total de Municípios em AP: 20
Total de Municípios Completos em AP: 20

Total de Municípios em TO: 90
Total de Municípios Completos em TO: 90

Total de Municípios em RR: 20
Total de Municípios Completos em RR: 20

Total de Municípios em AC: 20
Total de Municípios Completos em AC: 20

Total de Municípios em PA: 460
Total de Municípios Completos em PA: 460

Total de Municípios em MT: 200
Total de Municípios Completos em MT: 200

Total de Municípios em RO: 80
Total de Municípios Completos em RO: 80

In [17]:
print('Dados 04')
for state in states:
  df_tmp = df_04[df_04.Estado == state.upper()]
  print(f'Total de Municípios em {state.upper()}: {len(df_tmp)}')
  print(f'Total de Municípios Completos em {state.upper()}: {len(df_tmp.dropna())}\n')

Dados 04
Total de Municípios em AM: 150
Total de Municípios Completos em AM: 78

Total de Municípios em MA: 230
Total de Municípios Completos em MA: 183

Total de Municípios em AP: 20
Total de Municípios Completos em AP: 20

Total de Municípios em TO: 90
Total de Municípios Completos em TO: 90

Total de Municípios em RR: 20
Total de Municípios Completos em RR: 20

Total de Municípios em AC: 20
Total de Municípios Completos em AC: 18

Total de Municípios em PA: 460
Total de Municípios Completos em PA: 350

Total de Municípios em MT: 200
Total de Municípios Completos em MT: 144

Total de Municípios em RO: 80
Total de Municípios Completos em RO: 71

In [18]:
print('Dados 05')
for state in states:
  df_tmp = df_05[df_05.Estado == state.upper()]
  print(f'Total de Municípios em {state.upper()}: {len(df_tmp)}')
  print(f'Total de Municípios Completos em {state.upper()}: {len(df_tmp.dropna())}\n')

Dados 05
Total de Municípios em AM: 150
Total de Municípios Completos em AM: 135

Total de Municípios em MA: 230
Total de Municípios Completos em MA: 207

Total de Municípios em AP: 20
Total de Municípios Completos em AP: 18

Total de Municípios em TO: 90
Total de Municípios Completos em TO: 81

Total de Municípios em RR: 20
Total de Municípios Completos em RR: 18

Total de Municípios em AC: 20
Total de Municípios Completos em AC: 18

Total de Municípios em PA: 460
Total de Municípios Completos em PA: 414

Total de Municípios em MT: 200
Total de Municípios Completos em MT: 180

Total de Municípios em RO: 80
Total de Municípios Completos em RO: 72

# Gerando Estatísticas Básicas Sobre os Dados

Quantos municípios possuem cada estado na base de dados

In [19]:
states = df_01.Estado.unique()
for state in states:
  print(f'{state} possui {len(df_01[df_01.Estado == state].Municipio.unique())} municípios no grupo 01')
  print(f'{state} possui {len(df_02[df_02.Estado == state].Municipio.unique())} municípios no grupo 02')
  print(f'{state} possui {len(df_03[df_03.Estado == state].Municipio.unique())} municípios no grupo 03')
  print(f'{state} possui {len(df_04[df_04.Estado == state].Municipio.unique())} municípios no grupo 04')
  print(f'{state} possui {len(df_05[df_05.Estado == state].Municipio.unique())} municípios no grupo 05\n')

RO possui 8 municípios no grupo 01
RO possui 8 municípios no grupo 02
RO possui 8 municípios no grupo 03
RO possui 8 municípios no grupo 04
RO possui 8 municípios no grupo 05

AC possui 2 municípios no grupo 01
AC possui 2 municípios no grupo 02
AC possui 2 municípios no grupo 03
AC possui 2 municípios no grupo 04
AC possui 2 municípios no grupo 05

AM possui 15 municípios no grupo 01
AM possui 15 municípios no grupo 02
AM possui 15 municípios no grupo 03
AM possui 15 municípios no grupo 04
AM possui 15 municípios no grupo 05

RR possui 2 municípios no grupo 01
RR possui 2 municípios no grupo 02
RR possui 2 municípios no grupo 03
RR possui 2 municípios no grupo 04
RR possui 2 municípios no grupo 05

PA possui 45 municípios no grupo 01
PA possui 45 municípios no grupo 02
PA possui 45 municípios no grupo 03
PA possui 45 municípios no grupo 04
PA possui 45 municípios no grupo 05

AP possui 2 municípios no grupo 01
AP possui 2 municípios no grupo 02
AP possui 2 municípios no grupo 03
AP possui 2 municípios no grupo 04
AP possui 2 municípios no grupo 05

TO possui 8 municípios no grupo 01
TO possui 8 municípios no grupo 02
TO possui 8 municípios no grupo 03
TO possui 8 municípios no grupo 04
TO possui 8 municípios no grupo 05

MA possui 21 municípios no grupo 01
MA possui 21 municípios no grupo 02
MA possui 21 municípios no grupo 03
MA possui 21 municípios no grupo 04
MA possui 21 municípios no grupo 05

MT possui 20 municípios no grupo 01
MT possui 20 municípios no grupo 02
MT possui 20 municípios no grupo 03
MT possui 20 municípios no grupo 04
MT possui 20 municípios no grupo 05

# Filtrando Colunas de Interesse e Aglutinando os Dados

In [20]:
df_01_columns = list(df_01.columns)
df_01_columns = df_01_columns[:3] + \
  ['População total que mora em domicílios sem acesso ao serviço de coleta de esgoto (pessoas) (SNIS)',
   'Parcela da população total que mora em domicílios sem acesso ao serviço de coleta de esgoto (% da população) (SNIS)']

df_04_columns = ['Extensão da rede de distribuição de esgoto, em km (km) (SNIS)']

df_05_columns = ['Densidade demográfica (pessoas por km²) (Pessoas por km²) (IBGE)']

df_useful = pd.concat([df_01[df_01_columns], df_04[df_04_columns], df_05[df_05_columns]], axis=1)
df_useful

                      Municipio  ... Densidade demográfica (pessoas por km²) (Pessoas por km²) (IBGE)
0                     Ariquemes  ...                                              20.41
1                        Cacoal  ...                                              20.72
2                          Jaru  ...                                              17.66
3                     Ji-Paraná  ...                                              16.91
4                   Porto Velho  ...                                              12.57
...                         ...  ...                                                ...
1265  Santo Antônio do Leverger  ...                                               1.42
1266                      Sinop  ...                                              36.27
1267                    Sorriso  ...                                               9.66
1268           Tangará da Serra  ...                                               8.94
1269              Várzea Grande  ...                                             271.86

[1270 rows x 7 columns]

In [21]:
df_useful.Municipio.unique()

array(['Ariquemes', 'Cacoal', 'Jaru', 'Ji-Paraná', 'Porto Velho',
       'Rolim de Moura', 'Vilhena', 'Cruzeiro do Sul', 'Rio Branco',
       'Careiro da Várzea', 'Coari', 'Humaitá', 'Iranduba', 'Itacoatiara',
       'Manacapuru', 'Manaus', 'Manicoré', 'Maués', 'Novo Airão',
       'Parintins', 'Presidente Figueiredo', 'Rio Preto da Eva',
       'Tabatinga', 'Tefé', 'Boa Vista', 'Abaetetuba', 'Acará',
       'Alenquer', 'Altamira', 'Ananindeua', 'Barcarena', 'Belém',
       'Benevides', 'Bragança', 'Breu Branco', 'Breves', 'Cametá',
       'Capanema', 'Capitão Poço', 'Castanhal', 'Dom Eliseu',
       'Igarapé-Miri', 'Ipixuna do Pará', 'Itaituba', 'Itupiranga',
       'Jacundá', 'Juruti', 'Marabá', 'Marituba', 'Moju', 'Monte Alegre',
       'Novo Repartimento', 'Óbidos', 'Oriximiná', 'Paragominas',
       'Parauapebas', 'Portel', 'Redenção', 'Rondon do Pará',
       'Santa Bárbara do Pará', 'Santana do Araguaia', 'Santarém',
       'São Félix do Xingu', 'São Miguel do Guamá', 'Tailândia',
       'Tomé-Açu', 'Tucuruí', 'Ulianópolis', 'Vigia', 'Viseu', 'Macapá',
       'Santana', 'Araguaína', 'Gurupi', 'Paraíso do Tocantins',
       'Porto Nacional', 'Palmas', 'Açailândia', 'Alcântara', 'Bacabal',
       'Balsas', 'Barra do Corda', 'Buriticupu', 'Coroatá', 'Grajaú',
       'Imperatriz', 'Itapecuru Mirim', 'Paço do Lumiar', 'Pinheiro',
       'Raposa', 'Santa Inês', 'Santa Luzia', 'São José de Ribamar',
       'São Luís', 'Viana', 'Zé Doca', 'Santa Rita', 'Bonfim',
       'Nova União', 'São João Batista', 'Alvorada', 'Cachoeirinha',
       'Lajeado', 'Alta Floresta', 'Barão de Melgaço', 'Barra do Garças',
       'Cáceres', 'Chapada dos Guimarães', 'Cuiabá', 'Jangada',
       'Lucas do Rio Verde', 'Nossa Senhora do Livramento',
       'Nova Brasilândia', 'Planalto da Serra', 'Poconé',
       'Primavera do Leste', 'Rondonópolis', 'Rosário Oeste',
       'Santo Antônio do Leverger', 'Sinop', 'Sorriso',
       'Tangará da Serra', 'Várzea Grande'], dtype=object)

In [22]:
df_aglut = pd.read_csv(
    f'https://raw.githubusercontent.com/george-gca/MO826_IA368_CF044/main/data/processed/dados_conjuntos_col_ano.csv')

df_aglut

           Lat  ...  Internações Ano Seguinte - Dengue
0     -1.73866  ...                               52.0
1     -4.96265  ...                               25.0
2     -9.46606  ...                                0.0
3     -2.03379  ...                               57.0
4    -15.19422  ...                                0.0
...        ...  ...                                ...
8875  -6.84864  ...                                NaN
8876  -3.25303  ...                                NaN
8877  -6.76170  ...                                NaN
8878 -14.08771  ...                                NaN
8879   0.07317  ...                                NaN

[8880 rows x 14 columns]

In [23]:
cities_with_na = set(df_aglut[df_aglut['Internações - Dengue'].isna()].Municipio.unique())
print(f'Municípios com dados de dengue faltantes: {len(cities_with_na)}')
cities_with_na

Municípios com dados de dengue faltantes: 33

{'Alto Alegre',
 'Amajari',
 'Amapá',
 'Boa Vista',
 'Bonfim',
 'Calçoene',
 'Cantá',
 'Caracaraí',
 'Caroebe',
 'Curuá',
 'Ferreira Gomes',
 'Guiratinga',
 'Iracema',
 'Itaubal',
 'Laranjal do Jari',
 'Macapá',
 'Mazagão',
 'Mucajaí',
 'Normandia',
 'Oiapoque',
 'Pacaraima',
 'Pedra Branca do Amapari',
 'Porto Grande',
 'Rorainópolis',
 'Santana',
 'Serra do Navio',
 'São João da Baliza',
 'São Luiz',
 'Taipas do Tocantins',
 'Tartarugalzinho',
 'Uiramutã',
 'Urucurituba',
 'Vitória do Jari'}

In [24]:
df_aglut_clean = df_aglut[~df_aglut.Municipio.isin(cities_with_na)]
df_aglut_clean

           Lat  ...  Internações Ano Seguinte - Dengue
0     -1.73866  ...                               52.0
1     -4.96265  ...                               25.0
2     -9.46606  ...                                0.0
3     -2.03379  ...                               57.0
4    -15.19422  ...                                0.0
...        ...  ...                                ...
8875  -6.84864  ...                                NaN
8876  -3.25303  ...                                NaN
8877  -6.76170  ...                                NaN
8878 -14.08771  ...                                NaN
8879   0.07317  ...                                NaN

[8484 rows x 14 columns]

In [25]:
df_merged = pd.merge(df_useful, df_aglut_clean, how='inner', on=['Municipio', 'Estado', 'Ano'])
df_merged

                      Municipio  ... Internações Ano Seguinte - Dengue
0                     Ariquemes  ...                              25.0
1                        Cacoal  ...                              20.0
2                          Jaru  ...                              43.0
3                     Ji-Paraná  ...                             192.0
4                   Porto Velho  ...                              78.0
...                         ...  ...                               ...
1225  Santo Antônio do Leverger  ...                               NaN
1226                      Sinop  ...                               NaN
1227                    Sorriso  ...                               NaN
1228           Tangará da Serra  ...                               NaN
1229              Várzea Grande  ...                               NaN

[1230 rows x 18 columns]

In [26]:
# remove todo mundo que já foi 100% desmatado em 2008 e não tem mais área pra 
# desmatar antes do último ano da análise
cities_filtered = set(df_merged.loc[
                      (df_merged.PercDesmatado < 0.6) &
                      (df_merged.Ano == 2010),:].Municipio.unique())
cities_filtered = set(df_merged.loc[
                      (df_merged.PercDesmatado < 1) &
                      (df_merged.Ano == 2018) &
                      (df_merged.Municipio.isin(cities_filtered)),:].Municipio.unique())

print(f'Municípios antes do filtro: {len(df_merged.Municipio.unique())}')
print(f'Municípios após o filtro: {len(cities_filtered)}')
# cities_filtered

Municípios antes do filtro: 119
Municípios após o filtro: 89

In [27]:
df_merged_filtered = df_merged[df_merged.Municipio.isin(cities_filtered)]
df_merged_filtered

                      Municipio  ... Internações Ano Seguinte - Dengue
3                     Ji-Paraná  ...                             192.0
4                   Porto Velho  ...                              78.0
6                       Vilhena  ...                              46.0
7               Cruzeiro do Sul  ...                              13.0
8                    Rio Branco  ...                             193.0
...                         ...  ...                               ...
1224              Rosário Oeste  ...                               NaN
1225  Santo Antônio do Leverger  ...                               NaN
1227                    Sorriso  ...                               NaN
1228           Tangará da Serra  ...                               NaN
1229              Várzea Grande  ...                               NaN

[920 rows x 18 columns]

Salvandos os dados por município

In [28]:
df_merged.to_csv('desmat_dengue_san.csv', index=False)
df_merged_filtered.to_csv('desmat_dengue_san_filtrado.csv', index=False)

Gerando os dados agrupados por estado

In [29]:
df_merged_states = df_merged.groupby(['Estado', 'Ano']).sum().reset_index()
columns_to_remove = {'Municipio', 'Lat', 'Long',
                     'Parcela da população total que mora em domicílios sem acesso ao serviço de coleta de esgoto (% da população) (SNIS)'}
columns = [c for c in df_merged_states.columns if c not in columns_to_remove]
print(f'Deixando somente as colunas:\n{columns}\n')
df_merged_states = df_merged_states[columns]
df_merged_states

Deixando somente as colunas:
['Estado', 'Ano', 'População total que mora em domicílios sem acesso ao serviço de coleta de esgoto (pessoas) (SNIS)', 'Extensão da rede de distribuição de esgoto, em km (km) (SNIS)', 'Densidade demográfica (pessoas por km²) (Pessoas por km²) (IBGE)', 'AreaKm2', 'Desmatado', 'Incremento', 'Floresta', 'NaoFloresta', 'Hidrografia', 'PercDesmatado', 'Internações - Dengue', 'Internações Ano Seguinte - Dengue']

   Estado   Ano  ...  Internações - Dengue  Internações Ano Seguinte - Dengue
0      AC  2010  ...                 377.0                              206.0
1      AC  2011  ...                 206.0                               53.0
2      AC  2012  ...                  53.0                               41.0
3      AC  2013  ...                  41.0                              560.0
4      AC  2014  ...                 560.0                              268.0
..    ...   ...  ...                   ...                                ...
65     TO  2015  ...                  91.0                               72.0
66     TO  2016  ...                  72.0                               85.0
67     TO  2017  ...                  85.0                               79.0
68     TO  2018  ...                  79.0                              330.0
69     TO  2019  ...                 330.0                                0.0

[70 rows x 14 columns]

In [30]:
df_merged_states_filtered = df_merged_filtered.groupby(['Estado', 'Ano']).sum().reset_index()
columns_to_remove = {'Municipio', 'Lat', 'Long',
                     'Parcela da população total que mora em domicílios sem acesso ao serviço de coleta de esgoto (% da população) (SNIS)'}
columns = [c for c in df_merged_states_filtered.columns if c not in columns_to_remove]
print(f'Deixando somente as colunas:\n{columns}\n')
df_merged_states_filtered = df_merged_states_filtered[columns]
df_merged_states_filtered

Deixando somente as colunas:
['Estado', 'Ano', 'População total que mora em domicílios sem acesso ao serviço de coleta de esgoto (pessoas) (SNIS)', 'Extensão da rede de distribuição de esgoto, em km (km) (SNIS)', 'Densidade demográfica (pessoas por km²) (Pessoas por km²) (IBGE)', 'AreaKm2', 'Desmatado', 'Incremento', 'Floresta', 'NaoFloresta', 'Hidrografia', 'PercDesmatado', 'Internações - Dengue', 'Internações Ano Seguinte - Dengue']

   Estado   Ano  ...  Internações - Dengue  Internações Ano Seguinte - Dengue
0      AC  2010  ...                 377.0                              206.0
1      AC  2011  ...                 206.0                               53.0
2      AC  2012  ...                  53.0                               41.0
3      AC  2013  ...                  41.0                              560.0
4      AC  2014  ...                 560.0                              268.0
..    ...   ...  ...                   ...                                ...
65     TO  2015  ...                  79.0                               56.0
66     TO  2016  ...                  56.0                               50.0
67     TO  2017  ...                  50.0                               73.0
68     TO  2018  ...                  73.0                              249.0
69     TO  2019  ...                 249.0                                0.0

[70 rows x 14 columns]

Salvando os dados agrupados por estado

In [31]:
df_merged_states.to_csv('desmat_dengue_san_estado.csv', index=False)
df_merged_states_filtered.to_csv('desmat_dengue_san_estado_filtrado.csv', index=False)